*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.validation-error {
    border: 1px solid #FF0000;
}

.validation-success {
    border: 1px solid #41FF19;
}

.validation-message {
    padding: 5px;
    border: 2px solid #FF0000;
}

.validation-message-layout {
    clear: both;
}

.validation-message-layout:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

@media (min-width: 750px) {
    .col,
    .validation-message-layout__col-1,
    .validation-message-layout__col-2 {
        width: 50%;
        float: left;
        min-height: 1px;
    }
}
